/* .fullbody{
    width:1400px;
    height: 580px;
    border: 1px solid rgb(19, 8, 172);
} */

.body {
    height: 100svh;
    display: flex;
    overflow: hidden;
    gap: 10px;
    border: 1px solid rgb(218, 13, 13);
}

.board{
    /* width: 85vw; */
    /* height: 70px; */
    padding: 1rem;
    border: 1px solid rgb(43, 13, 214);
    /* margin-left: 10vw; */
}

.lefttext p {
    font-size: 20px;
    font-weight: bolder;
}
.righttext{
    padding-right: 1rem;
}

/* .lefttext {
    line-height: 55px;
} */

.boardTop {
    width: 100%;
    height: 100px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.boardDown {
    /* width: 1200px; */
    /* height: 500px; */
    /* border: 5px solid pink; */
}