.body{
    width: 100vw;
    height: 97.2svh;
    display: flex;
    border: 1px solid rgb(223, 18, 18);
    background-color: #ffffff;
}
.formsection{
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */
    margin: 0.10rem;
    /* padding: 2rem; */
    text-align: center;
}
.formsection input{
    width: 300px;
    border-radius: 10px;
    margin: 1rem;
    padding: 0.70rem;
    border: 1px solid gray;
}
.btn{
    color: #ffffff;
    margin: 0.75rem;
    width: 330px;
    padding: 0.50rem;
    font-size: 15px;
    border-radius: 15px;
    background-color: #17A2B8;
}
.headline{
    margin: 0.45rem;
   
}
