.body{
    width: 100vw;
    height: 97.2svh;
    display: flex;
    border: 1px solid rgb(223, 18, 18);
}
.mainSection{
    width: 1400px;
    border: 1px solid rgb(184, 15, 15);
}
.board{
    display:flex ;
    justify-content: center;
}
.sectionOne{
    width: 300px;
    height: 200px;
    margin: 1rem;
    background-color: #F9FCFF;
    
}
.sectionTwo{
    width: 300px;
    height: 200px;
    margin: 1rem;
    background-color: #F9FCFF;
   
}
.header{
    margin: 1rem;
}
.list{
    display:flex;
    justify-content: space-between;
    margin: 0.85rem;
}